/.idea
/.git/
/.ruff_cache/
/data/
__pycache__/
/.legacy/
/simplevit_mnist/last_training_results/
/simplevit_mnist/datasets/
/transformer_3/datasets/
/transformer_3/last_training_results/
/simplevit_mnist/data/
/datasets/
